@import "../../index.sass";

.color-details 
  width: 100%
  display: flex
  margin-bottom: 40px

.color-palette 
    width: 40px
    height: 40px
    margin-right: 10px
    border: 1px solid #d6d5d5
    margin-top: 4px
    display: inline-block
    border-radius: 50%

.margin-0 
  margin: 0


