.orange 
  background-color: var(--orange)

.weird-green 
  background-color: var(--weird-green)

.peacock-blue 
  background-color: var(--peacock-blue)

.marigold 
  background-color: var(--marigold)

.orangey-red 
  background-color: var(--orangey-red)

.tangerine 
  background-color: var(--tangerine)

.robin-s-egg 
  background-color: var(--robin-s-egg)

.warm-blue 
  background-color: var(--warm-blue)

.pale-grey 
  background-color: var(--pale-grey)

.reddish-pink 
  background-color: var(--reddish-pink)

.deep-sky-blue 
  background-color: var(--deep-sky-blue)

.pale-lilac 
  background-color: var(--pale-lilac)

.light-blue-grey 
  background-color: var(--light-blue-grey)

.black 
  background-color: var(--black)

.blue-grey 
  background-color: var(--blue-grey)

.pale-blue 
  background-color: var(--pale-blue)

.slate 
  background-color: var(--slate)

.white 
  background-color: var(--white)

.color-details 
  padding: 0 10px
  margin-right: 5px
  width: 100%
  display: flex
  margin-bottom: 40px

.color-palette 
  width: 40px
  height: 40px
  margin-right: 10px
  border: 1px solid #d6d5d5

.p-10 
  font-size: 10px

.p-12 
  font-size: 12px

.p-14 
  font-size: 14px

.p-16 
  font-size: 16px

.p-18 
  font-size: 18px

b 
  font-weight: 600

p 
  color: var(--slate)

.margin-0 
  margin: 0

